@model IEnumerable<CpaRepository.ModelsDb.VendorModule>

@{
    ViewData["Title"] = "View";
}

<h1>Модули @ViewBag.NameVendor</h1>

<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var item in ViewBag.data as IEnumerable<CpaRepository.ModelsDb.Vendor>)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area=""
                   asp-controller="VendorModule"
                   asp-action="VendorModule"
                   asp-route-id="@item.Id">@item.Name</a>
            </li>
        }


    </ul>
</div>-->




<p>
    <a asp-action="Create" asp-route-id="@ViewBag.IdVendor">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!-- <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.NameModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpaModules)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <!--<td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>-->
                <td>
                    @Html.DisplayFor(modelItem => item.NameModule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @for (int i = 0; i < item.CpaModules.Count; i++)
                    {
                        @Html.DisplayFor(modelItem => item.CpaModules[i].NameModule)
                        if (item.CpaModules.Count > 1 && i < item.CpaModules.Count - 1)
                        {
                            <a>, </a>
                        }
                    }


                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
