@model IEnumerable<CpaRepository.ViewModel.AgreedModules.AgreedModuleViewModel>

@{
    ViewData["Title"] = "AgreedModules";
}

<h1>AgreedModules</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorModule.NameModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLetter)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.NumberLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Changes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExistModule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorModule.NameModule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Convert.ToDateTime(item.DateOfLetter).ToString("dd/MM/yyyy")
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.NumberLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Changes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExistModule)
            </td>
            <td>
                @if (item.ExistModule)
                {<a asp-action="DownloadFile" asp-route-id="@item.Id">Download</a> <a> |</a>}
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
