@model CpaRepository.ModelsDb.Letter

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить письмо о согласовании модулей</h1>

<h3>Вы уререны, что хотите удалить письмо?</h3>
<div>
    <h4>Letter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd class>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
