@model IEnumerable<Web.ViewModel.Module.ModuleViewModel>

<table class="table" id="vendorModules">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorModule.NameModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpaModules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letter.NumberLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExistModule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorModule.NameModule)
                </td>
                <td>
                    @for (int i = 0; i < item.CpaModules.Count; i++)
                    {
                        @Html.DisplayFor(modelItem => item.CpaModules[i].NameModule)
                        if (item.CpaModules.Count > 1 && i < item.CpaModules.Count - 1)
                        {
                            <a>, </a>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CRC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Letter.NumberLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExistModule)
                </td>
                <td>
                    @if (item.ExistModule)
                    {<a asp-action="DownloadFile" asp-route-id="@item.Id">Download</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
