@model Web.ViewModel.Module.ModuleVM


<h1> @ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Вендор</label>
        <select class="form-control" asp-items="Model.AllVendorId" id="vendor"></select>
    </div>
    <div class="col-md-4">
        <label class="control-label">ТПР модуль</label>
        <select class="form-control" asp-items="Model.AllCpaModuleId" id="cpaModules"></select>
    </div>
</div>
<br />
<table class="table" id="vendorModules">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].Vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].VendorModule.NameModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].CpaModules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].CRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].DateOfLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].Letter.NumberLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllModule[0].ExistModule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllModule)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorModule.NameModule)
            </td>
            <td>
                @for (int i = 0; i < item.CpaModules.Count; i++)
                {
                    @Html.DisplayFor(modelItem => item.CpaModules[i].NameModule)
                    if (item.CpaModules.Count > 1 && i < item.CpaModules.Count - 1)
                    {
                        <a>, </a>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CRC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letter.NumberLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExistModule)
            </td>
            <td>
                @if (item.ExistModule)
                {<a asp-action="DownloadFile" asp-route-id="@item.Id">Download</a>}
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#vendor').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            var id2 = $("#cpaModules").val();
            var isArchive = '@ViewBag.IsArchive';
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetModules")/',
                data: {
                    SelectedVendor: id,
                    SelectedCpaModule: id2,
                    IsArchive:isArchive
                },
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#vendorModules').replaceWith(data);
                }
            });

        });
         $('#cpaModules').change(function()
        {
            // получаем выбранный id
            var id2 = $(this).val();
             var id = $("#vendor").val();
             var isArchive = '@ViewBag.IsArchive';
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetModules")/',
                data: {
                    SelectedVendor: id,
                    SelectedCpaModule: id2,
                    IsArchive: isArchive
                },
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#vendorModules').replaceWith(data);
                }
            });

        });
    })
    </script>
}
