@model Web.ViewModel.AgreedModules.AgreedModuleViewModel

@{
    ViewData["Title"] = "Удалить согласованный модуль";
}

<h1>Удалить согласованный модуль</h1>

<h3>Вы уверены, что хотите удалить модуль?</h3>
<div>
    <h4>AgreedModuleViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorModule.NameModule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorModule.NameModule)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathVendorModule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathVendorModule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatchLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatchLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Changes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Changes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
