@model Core.Models.Vendor

@{
    ViewData["Title"] = "Удалить вендора";
}

<h1>Удалить вендора</h1>

<h3>Вы уверены, что хотите удалить вендора?</h3>
<div>
    <h4>Удалить вендора</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Describtion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Describtion)
        </dd>
        <!--<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Timestamp)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Timestamp)
    </dd>-->
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
