@model IEnumerable<CpaRepository.ViewModel.AgreedModules.AgreedModuleViewModel>

@{
    ViewData["Title"] = "ActualModules";
}

<h1>ActualModules</h1>

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Вендор</label>
        <select class="form-control" asp-items="ViewBag.VendorId" id="vendor"></select>
    </div>
    <div class="col-md-4">
        <label class="control-label">ТПР модуль</label>
        <select class="form-control" asp-items="ViewBag.CpaModuleId" id="cpaModules"></select>
    </div>
</div>
<table class="table" id="data">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathVendorModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatchLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Changes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExistModule)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Describtion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorModule.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Letter.NumberLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CRC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PathVendorModule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatchLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Changes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExistModule)
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#vendor').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetVendorModules")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#vendorModules').replaceWith(data);
                }
            });
             $.ajax({
                type: 'GET',
                url: '@Url.Action("GetLetters")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#letters').replaceWith(data);
                }
            });
        });
    })
    </script>
}
