@model IEnumerable<CpaRepository.ViewModel.AgreedModules.AgreedModuleViewModel>

<table class="table" id="vendorModules">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorModule.NameModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CRC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letter.NumberLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Changes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExistModule)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorModule.NameModule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CRC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Letter.NumberLetter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Changes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExistModule)
                </td>

            </tr>
        }
    </tbody>
</table>
